{
  "ubuntu": {
    "release": "xenial"
  },
  "erlang": {
    "version": "19.3"
  },
  "nodejs": {
    "version": "v8.7.0"
  },
  "perl": {
    "version": "5.26.1"
  },
  "golang": {
    "version": "1.9.1"
  },
  "mysql": {
    "character-set": "utf8mb4"
  },
  "ctags": {
    "version": "5.8"
  },
  "tmux": {
    "version": "2.6"
  },
  "vim": {
    "version": "%%VIMVER%%"
  },
  "nginx": {
    "vagrant": {
      "vh": [
        { "server_name": "yowcow.local", "listen": 80 }
      ]
    },
    "sakura": {
      "vh": []
    }
  }
}
